.app__footer {
    flex: 1;
    width: 99%;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em 2rem 2rem;


    @media screen and (max-width: 768px) {
        width: 99%;
    }
}

.app__footer-cards .app__footer-card:last-child {
    background-color: #f2f7fb;
}

.app__footer-cards .app__footer-card:last-child:hover {
    box-shadow: 0 0 25px #f2f7fb;
}

.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;

    div {
        width: 99%;

        margin: 0.75rem 0;
        border-radius: 10px;
        cursor: pointer;
        background-color: rgba(186, 121, 57, 0.18);

        transition: all 0.2s ease-in-out;

        input,
        textarea {
            width: 99%;
            padding: 0.95rem;
            border: none;
            border-radius: 7px;
            background-color: rgba(186, 121, 57, 0.18);
            color: rgb(46, 46, 46);
            outline: none;
        }

        textarea {
            height: 170px;
        }

        &:hover {
            box-shadow: 0 0 5px rgba(107,52,26,255);
        }
    }

    button {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: rgba(186, 121, 57, 0.18);

        font-weight: 500;
        color: black;
        outline: none;
        margin: 2rem 0 0 0;

        transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        cursor: pointer;

        &:hover {
 
            box-shadow: 0 0 5px rgba(107,52,26,255);
        }
    }

    @media screen and (max-width: 768px) {
        width: 99%;
        margin: 1rem 0;
    }
}